<h2 class="account title text-center"> My Account <h2>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h4>Name: </h4>
        <p><%= @login_user.full_name %></p>
      </div>
      <div class="col-sm-4">
        <h4> Orders: </h4>
        <% i = 1 %>
        <p>  <% @login_user_orders.each do |order| %></p>
        <p>link_to "View Order", order_path(order.id) %> </p>
        <%= puts "#{i}: #{order.id}"%>
        <% i += 1 %>
        <% end %></div>
    </div>
  </div>
