<div class="text-lg-center top-info">
  <h3>About us</h3>
  <h1>Our Mission</h1>
</div>
<div class="col-lg-10 mx-auto">
  <div class="margin-top-x8">
    <p class="text-center">We are serious about pasta.</p>
    <p class="text-center p-2">At Spagh-ettsi, we care deeply about the health, well-being and culinary delight of our customers. We share a passion for – and commitment to – a philosophy of wholesome nutrition.</p>
    <p class="text-center p-2">  We carefully pick the best products that we can find based on a few important criteria: wholesome and pure, fresh and full-flavored. Wherever feasible, we seek out organic products, however, we do not limit ourselves to a strict, “organic only” platform. In addition, we are dedicated to educating our customers about the benefits of foods free of artificial, industrial additives</p>
    <p class="text-center p-2"> We are zealous in our search for and creation of full-flavored foods. And, we get great satisfaction out of sharing our new finds and creations with others.</p>
  </div>
</div>
<div class="col-xs-12">
  <div class="text-center margin-v-x6">
    <h1>Our Team</h1>
    <div class="photo col-sm-4 col-xs-6">
      <div class="about-us-team text-center margin-x3">
        <img src="http://www.shopatcloth.com/wp-content/uploads/ge/thumb-geek-farfalle-pasta-character-cartoon-vector.jpg"  class="rounded-circle" alt="photo of Amanda">
        <h4 class="margin-x1">Amanda</h4>
        <div class="text-uppercase text-muted small-text">Chief Pasta Officer</div>
      </div>
    </div>
    <div class="photo col-sm-4 col-xs-6">
      <div class="about-us-team text-center margin-x3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTro4I_PiRjsGGLWmkT3fyMUW7oeCpY3U-OpyK0E1HQqKhRQHZ9"  class="rounded-circle" alt="photo of Daniela">
        <h4 class="margin-x1">Daniela</h4>
        <div class="text-uppercase text-muted small-text">Founder &amp; Pasta Innovator</div>
      </div>
    </div>
    <div class="photo col-sm-4 col-xs-6">
      <div class="about-us-team text-center margin-x3">
        <img src="https://us.123rf.com/450wm/capeman29/capeman291501/capeman29150100063/35808635-stock-vector-macaroni-and-cheese-cartoon-character.jpg?ver=6"  class="rounded-circle" alt="photo of Hannah">
        <h4 class="margin-x1">Hannah</h4>
        <div class="text-uppercase text-muted small-text">Director of Pasta Development</div>
      </div>
    </div>
    <div class="photo col-sm-4 col-xs-6">
      <div class="about-us-team text-center margin-x3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrl7k__EpAUpA0wgKi4C2X717OdUzHvyVCwBiQcMkj9SsR2UudOA"  class="rounded-circle" alt="photo of Christina">
        <h4 class="margin-x1">Christina</h4>
        <div class="text-uppercase text-muted small-text">Chief Gluten-Free Officer</div>
      </div>
    </div>
  </div>
</div>
</div>
</a>
<br /> <br /> <br />
<div class="container">
  <h2>Talk pasta to us!</h2>
  <form action="https://formspree.io/spagh-ettsi@googlegroups.com" method="POST">

    <label for="fname">Name</label>
    <input type="text" id="name" name="name" placeholder="Your name..">

    <label for="lname">Email</label>
    <input type="text" id="email" name="email" placeholder="Your email..">

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Don’t be upsetti, eat some spaghetti" style="height:200px"></textarea>

    <input type="submit" value="Send Noods" class= "btn btn-dark">
  </form>
</div>
