<div class="topper">
<h3>About us</h3>
<h1>Our Mission</h1>
</div>
<div class="col-xs-12">
  <p class="margin-top-x8">    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam venenatis velit quis est semper iaculis.</p>
  <p>Etiam tincidunt vitae nulla ut porttitor. Sed egestas, augue at laoreet luctus, massa erat viverra velit, non pretium dui eros vel orci. Mauris volutpat eros velit, non lobortis augue scelerisque eget.</p>
  <p>  Curabitur imperdiet, magna at aliquam venenatis, metus arcu ullamcorper orci, ac blandit enim sapien non nibh. Maecenas tincidunt felis non mollis tempus.</p>
  <p> Sed vitae turpis ac mi consequat accumsan non nec nisl. Donec condimentum ligula id ex pharetra condimentum. In faucibus molestie urna eget cursus.</p>
</div>

<div class="col-xs-12">
  <div class="text-center margin-v-x6">
    <h2>Our Team</h2>
    <div class="col-sm-4 col-xs-6">
      <div class="about-us-team text-center margin-x3">
        <img class="img-circle" src="http://placekitten.com/40/60" alt="a pasta portrait" width="40" height="60">
        <h4 class="margin-x1">Amanda</h4>
        <div class="text-uppercase text-muted small-text">Chief Pasta Officer</div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-6">
      <div class="about-us-team text-center margin-x3">
        <img class="img-circle" src="http://placekitten.com/40/60" alt="a photo">
        <h4 class="margin-x1">Daniella</h4>
        <div class="text-uppercase text-muted small-text">Founder &amp; Pasta Innovator</div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-6">
      <div class="about-us-team text-center margin-x3">
        <img class="img-circle" src="http://placekitten.com/40/60" alt="a photo">
        <h4 class="margin-x1">Hannah</h4>
        <div class="text-uppercase text-muted small-text">Co-Founder &amp; Director of Pasta Development</div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-6">
      <div class="about-us-team text-center margin-x3">
        <img class="img-circle" src="http://placekitten.com/40/60" alt="a photo">
        <h4 class="margin-x1">Christina</h4>
        <div class="text-uppercase text-muted small-text">Chief Gluten-Free Officer</div>
      </div>
    </div>

  </div>
</div>
</div>
</a>
<h2>Talk pasta to us!</h2>
