
<br />
<div class="text-lg-center">
<h3>About us</h3>
<h1>Our Mission</h1>
</div>
<div class="col-xs-12">
  <p class="margin-top-x8">
    <p class="text-center">
      We are serious about pasta.</p>
  <p class="text-center p-2">At Spagh-ettsi, we care deeply about the health, well-being and culinary delight of our customers. We share a passion for – and commitment to – a philosophy of wholesome nutrition.</p>
  <p class="text-center p-2">  We carefully pick the best products that we can find based on a few important criteria: wholesome and pure, fresh and full-flavored. Wherever feasible, we seek out organic products, however, we do not limit ourselves to a strict, “organic only” platform. In addition, we are dedicated to educating our customers about the benefits of foods free of artificial, industrial additives</p>
  <p class="text-center p-2"> We are zealous in our search for and creation of full-flavored foods. And, we get great satisfaction out of sharing our new finds and creations with others.</p>
</div>
    </p>
<div class="col-xs-12">
  <div class="text-center margin-v-x6">
    <h2>Our Team</h2>
    <div class="col-sm-4 col-xs-6">
      <div class="about-us-team text-center margin-x3">
        <img src="http://placekitten.com/75/100"  class="rounded-circle" alt="a photo">
        <h4 class="margin-x1">Amanda</h4>
        <div class="text-uppercase text-muted small-text">Chief Pasta Officer</div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-6">
      <div class="about-us-team text-center margin-x3">
        <img src="http://placekitten.com/80/90"  class="rounded-circle" alt="a photo">
        <h4 class="margin-x1">Daniella</h4>
        <div class="text-uppercase text-muted small-text">Founder &amp; Pasta Innovator</div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-6">
      <div class="about-us-team text-center margin-x3">
        <img src="http://placekitten.com/80/100"  class="rounded-circle" alt="a photo">
        <h4 class="margin-x1">Hannah</h4>
        <div class="text-uppercase text-muted small-text">Director of Pasta Development</div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-6">
      <div class="about-us-team text-center margin-x3">
        <img src="http://placekitten.com/80/110"  class="rounded-circle" alt="a photo">
        <h4 class="margin-x1">Christina</h4>
        <div class="text-uppercase text-muted small-text">Chief Gluten-Free Officer</div>
      </div>
    </div>
  </div>
</div>
</div>
</a>
<br /> <br /> <br />
<div class="container">
  <h2>Talk pasta to us!</h2>
  <form action="action_page.php">

    <label for="fname">Name</label>
    <input type="text" id="name" name="name" placeholder="Your name..">

    <label for="lname">Email</label>
    <input type="text" id="email" name="email" placeholder="Your email..">

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Don’t be upsetti, eat some spaghetti" style="height:200px"></textarea>

    <input type="submit" value="Send Noods">

  </form>
</div>
