/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
/* Import scss content */
@import "**/*";
// Need to fix when screen gets smaller
// Need to fix dropdown menu location to align even when screen size changes
#products-dropdown {
  margin-right: 80em;
  margin-top: -85px;
}

.spaghettsi-logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid red;
}

.nav-word {
  margin-top: 50px;
}

.nav-item {
  padding: 2em;
  font-size: 20px;
  font-family: Georgia;
}

.navbar {
  border-bottom: 10px solid red;
}
