/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
/* Import scss content */
@import "**/*";
// Need to fix when screen gets smaller
// Need to fix dropdown menu location to align even when screen size changes
// #products-dropdown {
//   margin-right: 80em;
//   margin-top: -85px;
// }
body {
  font-family: 'Montserrat', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  min-height: 500px ;
}
// navbar
#spaghettsi-logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px double firebrick;
}

.nav-word {
  margin-top: 50px;
}

.nav-item {
  font-size: 20px;
}

.navbar {
  border-bottom: 10px double firebrick;
}

// footer {
//   margin-top: 4rem;
// }



// homepage
/************* GENERIC  *****************/
a {color:#696969;}
// img {width:100%;}
.img-icon {
  width: 50px;
}
.card {
  background-color: white;
  width: 20rem;
  height: 32rem;
}

.card-footer {
  background-color: #006400;
  color: white;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}


.container {
  background-color: white;
}

.btn-user {
  color: white;
}

.top-info {
  margin-top: 2rem;
}

.index-container {
  margin: 0 auto;
  height: 150vh;
}


// .footer {
//   position: fixed;
// }
/************* TOP-HEAD *****************/
.top-head ul li {padding-right:8px;}
/****************** Navigation **************/
.navbar-toggler {border-color: #dd0000;}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(221, 0, 0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/**************** Banner Slider Carousel **************/
.carousel-inner img {width: 100%;}
.carousel-caption {color:#000;top:110px; bottom: auto; text-align:left;}
.carousel-caption h1 { color:#dd0000; }
/************ Services **************/
.most-car-box:hover {box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
/*********** TABS *******/
.nav-tabs { border-bottom: 1px solid #ccc; }
.nav-tabs .nav-link.active {
    border-bottom: 1px solid #dd0000;
    border-radius:0px;
}
/**************** Social ICONS ***************/
/* Social Icons */

.social-icons{margin: 0;padding: 0; font-size : 10px;}
.social {margin:7px 7px 7px 0px;}
#social-fb:hover {color: #3B5998;transition:all .25s;}
 #social-tw:hover {color: #4099FF;transition:all .25s;}
 #social-gp:hover {color: #d34836;transition:all .25s;}
 #social-em:hover {color: #f39c12;transition:all .25s;}
