// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #seller_status {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }
//


.user-card {
  margin: 3rem;
  background-color: #B22222;
}

.table {
  margin-bottom: 5rem;
}
