// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #seller_status {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }
//


.user-card {
  margin: 3rem;
  background-color: #B22222;
}

.table {
  margin-bottom: 5rem;
}

// ========================================
// DASHBOARD
// ========================================

.sidenav {
    width: 170px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background-color: firebrick;
    overflow-x: hidden;
    padding: 15px 10px;
    margin-top: 9rem;

}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;


}

.sidenav a:hover {
    color: #064579;
}

.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
